.container {
  max-width: 90vw;
  margin: 0px auto 0px;
  height: 100vh;
}

.navbar-container {
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* logo */
.navbar-container div img {
  margin-right: 50px;
}

.navbar-container div .list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-container div .list .list-item {
  list-style-type: none;
  font-family: Orbitron;
  font-size: 28px;
  font-weight: 600;
  margin-left: 50px;
}

.navbar-container div .list .list-item:nth-child(1) {
  font-weight: 800;
}
.navbar-container div .list .list-item {
  order: 3;
}
.navbar-container div .list .list-item:nth-child(1) {
  order: 1;
}
.navbar-container div .list .list-item:nth-child(3) {
  order: 2;
}

.navbar-container div .list .list-item:nth-child(1)::after {
  display: block;
  content: "";
  width: 60%;
  border-top: black solid 4px;
  margin: 0 auto;
  padding: 4px 0px;
}

.navbar-container .button-group {
  display: flex;
  justify-content: center;
}

.navbar-container .button-group > div {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.navbar-container .button-group div .nav-button {
  font-family: Poppins;
  font-size: 25px;
  color: #515151;
  padding: 0 50px 0;
  border: solid #000000 3px;
  border-radius: 13px;
  background-color: #fff;
  height: fit-content;
}

/* Hero section */
.hero-container {
  margin-top: 10px;
  display: flex;
  height: 80vh;
}

.hero-container > .square {
  bottom: 0px;
  z-index: -1;
}

.hero-container > .square > img {
  margin-top: 80%;
  margin-left: 50%;
}

.hero-container > .star {
  position: absolute;
  right: 10%;
  padding: 3%;
}
.hero-container > .star2 {
  position: absolute;
  bottom: 1%;
  right: 60%;
}

.hero-container > .star2 > img {
  height: 50px;
  width: 50px;
}

.hero-container > .globe {
  position: absolute;
  left: 50%;
}

.hero-container .globe + div {
  position: absolute;
}
.hero-container .globe + div > img {
  height: 50%;
  weight: 50%;
}

.hero-container .hero-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 125px;
}

h1.hero-heading {
  font-family: Orbitron;
  font-size: 70px;
  font-weight: 800;
  justify-content: center;
}

.hero-container .hero-container-right > p {
  font-family: Poppins;
  font-size: 18px;
  text-align: center;
  width: 60%;
  color: #515151;
}

.button-email,
.button-join {
  font-family: Orbitron;
  font-size: 25px;
  border-radius: 15px;
}

.button-email {
  padding: 0px 20px;
}

.button-join {
  color: #fff;
  background-color: #000000;
  margin-left: 20px;
}

.hero-container .contact-heading {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 500;
  color: #515151;
  text-align: center;
}

.hero-container .hero-container-right div > .icons {
  display: flex;
}

.hero-container .hero-container-right div > .icons span {
  margin: 0 5px 0;
}
